{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block nodashboard %}
{% endblock nodashboard %}

{% block main_content %}
	<h1 class="text-3xl font-bold underline bg-slate-300">
		Se connecter
	</h1>

	<div class="w-full p-5">
		<form method="post" class="bg-main-grey-light w-3/4 max-w-md flex flex-col justify-center mx-auto">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Je suis connecté en tant que
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Me déconnecter</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3">Se connecter</h1>
			<label for="inputEmail" class="mt-5">Mon email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border rounded" autocomplete="email" required autofocus>
			<label for="inputPassword class=" mt-5">Mon mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="border rounded" autocomplete="current-password" required>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
									            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
									            See https://symfony.com/doc/current/security/remember_me.html
									
									            <div class="checkbox mb-3">
									                <label>
									                    <input type="checkbox" name="_remember_me"> Remember me
									                </label>
									            </div>
									        #}

			<button class="btn-orange" type="submit">
				Se connecter
			</button>
		</form>
		<div class="flex flex-row justify-center">
			<a class="btn-grey" href="{{ path('app_register') }}">
				S'inscrire
			</a>
			<a class="btn-grey" href="">
				Mot de passe oublié
			</a>
		</div>
	</div>
{% endblock main_content %}
