<div class="group relative recommended_player_card w-60 sm:w-72 h-96 shadow-xl bg-gradient-to-br from-white via-white to-main-orange/20 rounded-md snap-center shrink-0 overflow-hidden border-b-4 border-main-brown sm:hover:scale-105 transition-all duration-300">
	<div class="h-2/5 flex flex-col justify-between group-odd:bg-gradient-to-r group-even:bg-gradient-to-l from-main-orange/20 to-main-brown/20 p-4">
		<div class="w-full h-full flex flex-col gap-2 justify-start items-center font-bold text-sm mt-2">
			<span class="border p-0.5 rounded text-main-brown">{{ party['date'] }}</span>
			<span class="uppercase font-bold text-main-brown text-center text-lg">{{ party['game'] }}</span>
		</div>
	</div>
	<div class="absolute h-20 w-20 border-2 rounded-full overflow-hidden left-[5rem] sm:left-[6.5rem] top-[7rem] bg-main-brown bg-cover bg-center" style="background-image: url('{{ asset(party['party_host_picture']) }}');"></div>
	<div class="w-full h-3/5 p-2 pt-12 flex flex-col gap-2">
		<div class="w-full flex justify-center items-center gap-1">
			<span class="text-xs">Organisateur :</span>
			<span class="text-lg font-bold">{{ party['party_host_name'] }}</span>
		</div>
		<div class="w-full flex h-1/5 justify-center px-4">
			<div class="flex w-1/2 justify-start items-center">
				<span class="text-xs">Nombre de joueur :</span>
			</div>
			<div class="flex w-1/2 justify-end items-center pr-4">
            	{% for i in 1..party['player_number_total'] - party['player_number_needed'] %}
					<img class="h-1/2" src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="">
				{% endfor %}
				{% for i in party['player_number_total'] - party['player_number_needed']..party['player_number_total']-1 %}
					<img class="h-1/2" src="{{ asset('img/content/meeple_rate_empty.svg') }}" alt="">
				{% endfor %}
			</div>
		</div>
		<div class="w-full flex h-1/5 justify-center px-4">
			<div class="flex w-1/2  justify-start items-center">
				<span class="text-xs">Inscrits :</span>
			</div>
			<div class="flex w-1/2 justify-end items-center gap-1 pr-4">
                {% if party['user_registered'] != null %}
                    {% for user in party['user_registered'] %}
                        <a class="h-6 w-6 border border-main-orange rounded-full flex justify-center items-center hover:scale-110 transition-all duration-300 bg-cover bg-center" href="" title="{{ user['user_name'] }}" style="background-image: url('{{ user['user_profil_picture'] }}');"></a>
                    {% endfor %}
                {% else %}	
					<span class="text-xs">Aucun joueur d'inscrit</span>		
                {% endif %}
			</div>
		</div>
		<div class="w-full h-12 flex justify-center items-center">
            {% if party['current_user_registered'] == false %}
			    <a class="p-2 text-white bg-main-green rounded-md hover:bg-main-emerald hover:shadow-md transition-all duration-300" href="{{ path('app_party_registration', {'partyID': party['id']}) }}">S'inscrire</a>
            {% elseif party['user_host_id'] == current_user %}
				<a class="p-2 text-white bg-main-brown rounded-md/50 hover:bg-main-brown/60 hover:shadow-md transition-all duration-300" href="">Modifier la partie</a>
			{% else %}
			    <a class="p-2 text-white bg-red rounded-md hover:bg-red-dark hover:shadow-md transition-all duration-300" href="{{ path('app_party_unsubscribe', {'partyID': party['id']}) }}">Se désinscrire</a>
            {% endif %}
		</div>
	</div>
	<div class="absolute w-8 h-8 rounded-full bottom-5 left-5 hover:scale-110 transition-all duration-300">
		<a href="">
			<img class="max-w-full w-full" src="{{ asset('img/profil_menu/search.svg') }}" alt="">
		</a>
	</div>
</div>
