<!--start message_user_card -->
	<div onclick="window.location.href='{{ path('message_menu_with_discussion', {'id': contact['contact_id']}) }}';"  
		{% if other_id != null %}
			{% if other_id == contact['contact_id'] %}
				id="selected_user" class="cursor-pointer relative message_user_div scale-105 transition-all duration-300 border-b-4 border-main-green w-[95%] min-w-[95%] min-h-[5rem] h-20 bg-gradient-to-r from-white to-main-green/80 rounded-lg flex p-1 shadow-lg"
			{% else %}
				class="cursor-pointer relative message_user_div hover:scale-105 transition-all duration-300 border-b-4 border-main-brown w-[95%] min-w-[95%] min-h-[5rem] h-20 bg-gradient-to-r from-white to-main-orange/20 rounded-lg flex p-1 shadow-lg"
			{% endif %}
		{% else %}
			class="cursor-pointer relative message_user_div hover:scale-105 transition-all duration-300 border-b-4 border-main-brown w-[95%] min-w-[95%] min-h-[5rem] h-20 bg-gradient-to-r from-white to-main-orange/20 rounded-lg flex p-1 shadow-lg"
		{% endif %}
		>
		{% if contact['non_read_msg_count'] > 0 %}
			<div class="absolute h-6 w-6 rounded-full bg-red left-16 top-2 flex justify-center items-center">
				<span class="text-white text-xs font-bold">{{contact['non_read_msg_count']}}</span>
			</div>
		{% endif %}
		
		
		<div class="w-1/3 flex justify-center items-center">
			<img class="h-12 w-12 sm:h-10 sm:w-10 lg:h-12 lg:w-12 rounded-full" src="{{ asset(contact['contact_profil_picture']) }}" alt="">
		</div>
		<div class="w-2/3 flex justify-center items-center gap-4">
			<span class="font-bold text-main-brown">{{ contact['contact_first_name'] }}</span>
			<a href="/myProfil" class="z-30 flex justify-center items-center w-5 h-5 top-1 right-1 cursor-auto hover:bg-red rounded-full absolute text-white">
				<img class="w-full" src="{{ asset('img/content/trash.svg')}}" alt="">
			</a>
		</div>	
	</div>
<!--start message_user_card -->