<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock title %}
		</title>
		<meta name="description" content="Êtes-vous fatigué de jouer seul à vos jeux de société préférés ? MeetAMeeple a la solution pour vous - un site internet qui permet aux joueurs de jeux de société de se rencontrer et d'organiser des parties en personne.">
		<meta name="keywords" content="Meeple, jeux de société">
		<meta name="author" content="Bruno Maucourt, Ferdi Hasani, Thibault Couanon">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link
		rel="icon" href="{{ asset('img/favicon/favicon.svg') }}">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap" rel="stylesheet">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{% block bonus_javascript %}{% endblock bonus_javascript %}


	</head>

	<body class="bg-white min-h-screen selection:bg-main-orange selection:text-white relative">

		{% block header %}
			<header class="sticky z-10 top-0 bg-white ">
				<section class="max-w-full mx-auto p-4 flex justify-between items-center">
					<div class="w-1/4 sm:w-1/3">
						<img id="mobile-open-button" class="cursor-pointer scale-75 xl:hidden" src="{{ asset('img/menu_logo/open_menu.svg') }}" alt="open_menu_icon">
						<nav class="hidden space-x-8 xl:flex" aria-label="main">
							<a href="{{ path('how_its_work') }}" class="hover:text-main-orange after:block after:h-0.5 after:w-0 after:bg-main-orange after:transition-all after:duration-700 after:hover:w-full">Comment ça marche ?</a>
							<a href="{{ path('search') }}" class="hover:text-main-orange after:block after:h-0.5 after:w-0 after:bg-main-orange after:transition-all after:duration-700 after:hover:w-full">Trouver des joueurs</a>
						</nav>
					</div>
					<div id="site_title" class="text-2xl w-1/2 sm:w-1/3 text-center font-pacifico xl:scale-125 xl:translate-y-8">
						<a href="{{ path('home') }}">Meet a Meeple</a>
					</div>
					<div class="w-1/4 sm:w-1/3 flex justify-end relative">
						<button class="profil-menu-button hidden sm:block hover:text-main-orange after:block after:h-0.5 after:w-0 after:bg-main-orange after:transition-all after:duration-700 after:hover:w-full">Mon Compte</button>
						<img class="profil-menu-button cursor-pointer scale-75 sm:hidden" src="{{ asset('img/profil_menu/person.svg') }}" alt="my_account_icon">
						<nav
							id="profil-menu" class="hidden overflow-hidden bg-white top-12 right-0 w-60 absolute flex-col rounded shadow-2xl shadow-gray-400" aria-label="profil">
							{# Display only user is connected #}
							{% if app.user %}
								<div class="flex items-center w-full h-14 px-4 hover:bg-main-orange">
									<div class="w-1/6 p-1">
										<img src="{{ asset('img/profil_menu/person.svg') }}" alt="profil_image">
									</div>
									<a href="{{ path('my profil') }}" class="w-full h-10 flex justify-start items-center ml-2 font-bold">
										{{ app.user.lastName}}
										{{ app.user.firstName}}
									</a>
								</div>
								<hr class="border-t-1 border-main-grey">
								<div class="flex items-center w-full h-14 px-4 hover:bg-main-orange hover:text-white">
									<div class="w-1/6 p-1">
										<img src="{{ asset('img/profil_menu/dashboard.svg') }}" alt="dashboard_logo">
									</div>
									<a href="{{ path('dashboard') }}" class="w-full h-10 flex justify-start items-center ml-2">Tableau de Bord</a>
								</div>
								<hr class="border-t-1 border-main-grey">
								<div class="flex items-center w-full h-14 px-4 hover:bg-main-orange hover:text-white">
									<div class="w-1/6 p-1 relative">
										<img src="{{ asset('img/profil_menu/add.svg') }}" alt="dashboard_logo">
									</div>
									<a href="{{ path('message menu') }}" class="w-full h-10 flex justify-start items-center ml-2">Ajouter une partie</a>
								</div>
								<hr class="border-t-1 border-main-grey">
								<div class="flex items-center w-full h-14 px-4 hover:bg-main-orange hover:text-white">
									<div class="w-1/6 p-1">
										<img src="{{ asset('img/profil_menu/game.svg') }}" alt="dashboard_logo">
									</div>
									<a href="{{ path('my profil') }}" class="w-full h-10 flex justify-start items-center ml-2">Mes Parties</a>
								</div>
								<hr class="border-t-1 border-main-grey">
								<div class="flex items-center w-full h-14 px-4 hover:bg-main-orange hover:text-white">
									<div class="w-1/6 p-1">
										<img src="{{ asset('img/profil_menu/logout.svg') }}" alt="dashboard_logo">
									</div>
									<a href="{{ path('app_logout') }}" class="w-full h-10 flex justify-start items-center ml-2">Déconnexion</a>
								</div>
							{% else %}
								<hr class="border-t-1 border-main-grey">
								<div class="flex items-center w-full h-14 px-4 hover:bg-main-orange hover:text-white">
									<div class="w-1/6 p-1">
										<img src="{{ asset('img/profil_menu/login.svg') }}" alt="login_logo">
									</div>
									<a href="{{ path('app_login') }}" class="w-full h-10 flex justify-start items-center ml-2">Connexion</a>
								</div>
								<hr class="border-t-1 border-main-grey">
								<div class="flex items-center w-full h-14 px-4 hover:bg-main-orange hover:text-white">
									<div class="w-1/6 p-1">
										<img src="{{ asset('img/profil_menu/signup.svg') }}" alt="signup_logo">
									</div>
									<a href="{{ path('app_register') }}" class="w-full h-10 flex justify-start items-center ml-2">Inscription</a>
								</div>
							{% endif %}
						</nav>
					</div>
				</section>
				<section id="mobile-menu" class="absolute top-0 hidden w-72 flex-col bg-main-brown text-base text-white z-10 px-10 pt-12 animate-open-menu">
					<img id="mobile-close-button" class="cursor-pointer absolute scale-50 top-2 right-2" src="{{ asset('img/menu_logo/close_menu.svg') }}" alt="close_menu_icon">
					<nav class="min-h-screen flex flex-col gap-5" aria-label="mobile">
						<a class="hover:scale-105 transition-all duration-500" href="{{ path('how_its_work') }}">Comment ça marche ?</a>
						<a class="hover:scale-105 transition-all duration-500" href="{{ path('search') }}">Trouver des joueurs</a>
						<a class="hover:scale-105 transition-all duration-500" href="{{ path('FAQ') }}">FAQ</a>
						<a class="hover:scale-105 transition-all duration-500" href="{{ path('contact') }}">Contact</a>
						<a class="hover:scale-105 transition-all duration-500" href="{{ path('about') }}">A Propos</a>
					</nav>
				</section>
			</header>
		{% endblock header %}

		<container class="w-full h-full flex bg-white">

			{% block nodashboard %}
				<!--dashboard menu -->
				<aside
					id="dashboard" class="bg-gradient-to-b from-white via-main-emerald/20 to-main-orange/70 sticky top-[80px] xl:top-[64px] min-w-[64px] w-16 md:w-64 aside-mobile-section xl:aside-xl-section bg-white border-main-grey shadow-2xl p-4 flex flex-col justify-start items-center gap-4 overflow-auto">

					<!--dashboard icon  :
					icon on mobile and icon + text when not mobile
					animation on hover
					-->
					<a href="{{ path('dashboard') }}" title="Dashboard" class="group w-full h-12 flex justify-center items-center rounded hover:text-main-orange md:hover:tr0nslate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-1 relative">
							<img src="{{ asset('img/profil_menu/dashboard.svg') }}" alt="dashboard_logo">
						</div>
						<span class="w-full ml-3 hidden md:block font-bold">Tableau de bord</span>
					</a>

					<hr
					class="border-b w-full border-main-grey/40">

					<!--normal dashboard menu icon  :
																				 icon on mobile and icon + text when not mobile
																				 animation on hover
																				 -->
					<a href="{{ path('my profil') }}" title="Profil" class="group w-full h-12 flex justify-center items-center rounded hover:text-main-orange md:hover:translate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-3 p-0.5 relative">
							<img src="{{ asset('img/profil_menu/person.svg') }}" alt="dashboard_logo">
						</div>
						<span class="w-full ml-3 hidden md:block">Mon profil</span>
					</a>
					<a href="{{ path('search') }}" title="Recherche" class="group w-full h-10 flex justify-center items-center rounded hover:text-main-orange md:hover:translate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-3 p-0.5 relative">
							<img src="{{ asset('img/profil_menu/search.svg') }}" alt="dashboard_logo">
						</div>
						<span class="w-full ml-3 hidden md:block">Rechercher partie/joueur</span>
					</a>
					<a href="{{ path('add party') }}" title="Ajouter partie" class="group w-full h-10 flex justify-center items-center rounded hover:text-main-orange md:hover:translate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-3 p-0.5 relative">
							<img src="{{ asset('img/profil_menu/add.svg') }}" alt="dashboard_logo">
						</div>
						<span class="w-full ml-3 hidden md:block">Ajouter une partie</span>
					</a>
					<a href="{{ path('my_party') }}" title="Mes parties" class="group w-full h-10 flex justify-center items-center rounded hover:text-main-orange md:hover:translate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-3 p-0.5 relative">
							<img src="{{ asset('img/profil_menu/game.svg') }}" alt="dashboard_logo">
						</div>
						<span class="w-full ml-3 hidden md:block">Mes parties</span>
					</a>
					<a href="{{ path('my friend') }}" title="Contact" class="group w-full h-10 flex justify-center items-center rounded hover:text-main-orange md:hover:translate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-3 p-0.5 relative">
							<img src="{{ asset('img/profil_menu/friend.svg') }}" alt="dashboard_logo">
						</div>
						<span class="w-full ml-3 hidden md:block">Mes contact</span>
					</a>

					<!--message dashboard icon  :
																				 icon on mobile and icon + text when not mobile
																				 animation on hover
																				 notification : little red circle when mobile, and with a number when not mobile
																				 -->
					<a href="{{ path('message menu') }}" title="Message" class="group w-full h-10 flex justify-center items-center rounded hover:text-main-orange md:hover:translate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="relative group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-3 p-0.5">
							<img src="{{ asset('img/profil_menu/message.svg') }}" alt="dashboard_logo">
							
							{% if nonReadMessageCount and nonReadMessageCount[0]['count'] > 0 %}
								<div class="absolute w-3 h-3 top-0 right-0 rounded-full bg-red md:w-5 md:h-5 md:flex md:justify-center md:items-center md:right-1.5 md:top-1.5">
									<span class="hidden text-white font-bold text-xs md:block">{{nonReadMessageCount[0]['count']}}</span>
								</div>
							{% endif %}
							
							
						</div>
						<span class="w-full ml-3 hidden md:block">Message</span>
					</a>
					<a href="{{ path('app_logout') }}" title="Déconnexion" class="group w-full h-10 flex justify-center items-center rounded hover:text-main-orange md:hover:translate-x-2 hover:scale-125 md:hover:scale-105 transition-all duration-500">
						<div class="group-hover:bg-main-orange/60 group-hover:shadow-xl group-hover:shadow-main-orange/20 transition-all duration-500 rounded-lg w-full md:w-1/3 md:p-3 p-0.5 relative">
							<img src="{{ asset('img/profil_menu/logout.svg') }}" alt="dashboard_logo">
						</div>
						<span class="w-full ml-3 hidden md:block">Déconnexion</span>
					</a>
				</aside>
				<div class="main-mobile-width md:main-width">
				{% endblock nodashboard %}


				{% block withdashboard %}
					<div class="w-full">
					{% endblock withdashboard %}

					<main class="main-mobile-section sm:main-small-section xl:main-xl-section mt-20 mb-20"> {% block main_content %}{% endblock main_content %}
						</main>

						{% block footer %}
							<footer class="w-full h-fit bg-black p-10">
								<section class="mx-auto max-w-5xl h-fit flex flex-col justify-center items-center gap-5">
									<div>
										<img class="w-6 h-6 " src="{{ asset('img/favicon/favicon.svg') }}" alt="mm_icon">
									</div>
									<div class="flex flex-col w-full items-center gap-10 text-center sm:flex-row sm:justify-between">
										<div class="w-1/3  text-white flex flex-col justify-start items-center">
											<h3 class="uppercase text-main-grey sm:mb-3">aide</h3>
											<a class="w-fit" href="{{ path('contact') }}">Contact</a>
											<a class="w-fit" href="{{ path('FAQ') }}">FAQ</a>
										</div>
										<div class="sm:w-1/3 text-white flex flex-col justify-start items-center">
											<h3 class="uppercase text-main-grey sm:mb-3">entreprise</h3>
											<a class="w-fit" href="{{ path('about') }}">Qui sommes nous ?</a>
											<div class="flex gap-3 mt-2">
												<a href="#">
													<img id="logo_facebook" class="h-7" src="{{ asset('img/social_icon/LogoFacebookWhite.svg') }}" alt="facebook_logo">
												</a>
												<a href="#">
													<img id="logo_instagram" class="h-7" src="{{ asset('img/social_icon/LogoInstagramWhite.svg') }}" alt="facebook_logo">
												</a>
												<a href="#">
													<img id="logo_twitter" class="h-7" src="{{ asset('img/social_icon/LogoTwitterWhite.svg') }}" alt="facebook_logo">
												</a>
											</div>
										</div>
										<div class="w-1/3  text-white flex flex-col justify-start items-center">
											<h3 class="uppercase text-main-grey sm:mb-3">mentions légales</h3>
											<a class="w-fit" href="{{ path('RGPD') }}">CGU</a>
											<a class="w-fit" href="{{ path('RGPD') }}">Confidentialité</a>
										</div>
									</div>
								</section>
							</footer>
						{% endblock footer %}
					</div>
				</container>
			</body>
		</body>
	</html>
