{% extends 'base.html.twig' %}

{% block withdashboard %}
{% endblock withdashboard %}

{% block bonus_javascript %}
    <script defer src="{{ asset('js/dashboard.js') }}"></script> 
{% endblock bonus_javascript %}

{% block main_content %}
<section class="text-sm md:text-base w-full flex flex-col gap-8 items-center justify-center px-2 sm:px-4">
    <!-- START WELCOME CARD -->
    <div class="flex w-full max-w-4xl h-fit rounded-lg shadow-md bg-gradient-to-br from-main-green/20 via-white to-main-orange/20 p-3 border-b-4 border-main-orange">
        <div class="w-full lg:w-2/3 h-full">
            <h2 class="font-bold text-xl my-3">Et si vous faisiez le premier pas ?</h2>
            <ul>
                <li class="ml-6 list-disc">Créer des parties pour rencontrer des joueurs</li>
                <li class="ml-6 list-disc">Faite vous de nouveaux amis</li>                
                <li class="ml-6 list-disc">Jouez !</li>
            </ul>

            <h2 class="font-bold text-xl my-3">Commencez dès maintenant !</h2>
                <div class="flex flex-wrap gap-2">
                    <a class="block w-fit p-2 border border-main-green rounded-lg text-main-green font-bold  hover:bg-main-green/20 transition-all duration-300" href="{{ path('add party') }}">Créer partie</a>
                    <a class="block w-fit p-2 rounded-lg text-main-green font-bold  hover:bg-main-green/20 transition-all duration-300" href="">Trouver un lieu pour vos parties</a>
                    <a class="block w-fit p-2 rounded-lg text-main-green font-bold  hover:bg-main-green/20 transition-all duration-300" href="">Conseils</a>
                </div>
            
        </div>
        <div class="lg:w-1/3 hidden md:flex justify-center items-center p-8">
            <img class="" src="{{ asset('img/content/test.jpg') }}" alt="">
        </div>
    </div>
    <!-- END WELCOME CARD -->

    <!-- START RESUME -->
    <div class="flex justify-between items-center w-full mt-14 border-b border-main-grey py-2"> 
        <h2 class="text-xl font-bold">Résumé</h2>
    </div>
    <div class="w-full flex flex-col sm:flex-row flex-wrap sm:justify-center items-center gap-4 lg:gap-6">

        <!-- START RESUME CARD -->
        <div class="w-60 h-32 rounded-md p-3 bg-gradient-to-b  from-main-orange/20 to-main-green/20 shadow-md border-b-4 border-main-brown">
            <div class="h-2/3 flex">
                <div class="w-2/3 h-full flex flex-col">
                    <span class="uppercase text-main-brown font-bold">Amis</span>
                    <span class="text-2xl font-bold ml-10">{{ userInformations['numberOfFriend'][0]['count(*)'] }}</span>
                </div>
                <div class="w-1/3 h-full">
                    <img src="{{ asset('img/content/friend.svg') }}" alt="">
                </div>
            </div>
            <div class="h-1/3 flex items-center justify-start">
                <span class="text-main-brown text-xs uppercase font-bold">2 ajoutés les 7 derniers jours</span>
            </div>
        </div>
        <!-- END RESUME CARD -->
        <!-- START RESUME CARD -->
        <div class="w-60 h-32 rounded-md p-3 bg-gradient-to-b  from-main-orange/20 to-main-green/20 shadow-md border-b-4 border-main-brown">
            <div class="h-2/3 flex">
                <div class="w-2/3 h-full flex flex-col">
                    <span class="uppercase text-main-brown font-bold">Parties jouées</span>
                    <span class="text-2xl font-bold ml-10">15</span>
                </div>
                <div class="w-1/3 h-full">
                    <img src="{{ asset('img/content/game.svg') }}" alt="">
                </div>
            </div>
            <div class="h-1/3 flex items-center justify-start">
                <span class="text-main-brown text-xs uppercase font-bold">3 jouéées les 30 derniers jours</span>
            </div>
        </div>
        <!-- END RESUME CARD -->
        <!-- START RESUME CARD -->
        <div class="w-60 h-32 rounded-md p-3 bg-gradient-to-b  from-main-orange/20 to-main-green/20 shadow-md border-b-4 border-main-brown">
            <div class="h-2/3 flex">
                <div class="w-2/3 h-full flex flex-col">
                    <span class="uppercase text-main-brown font-bold">Parties créées</span>
                    <span class="text-2xl font-bold ml-10">{{ userInformations['hostedParty'][0]['COUNT(id)'] }}</span>
                </div>
                <div class="w-1/3 h-full">
                    <img src="{{ asset('img/content/tool.svg') }}" alt="">
                </div>
            </div>
            <div class="h-1/3 flex items-center justify-start">
                <span class="text-main-brown text-xs uppercase font-bold">1 créée les 7 derniers jours</span>
            </div>
        </div>
        <!-- END RESUME CARD -->
        <!-- START RESUME CARD -->
        <div class="w-60 h-32 rounded-md p-3 bg-gradient-to-b  from-main-orange/20 to-main-green/20 shadow-md border-b-4 border-main-brown">
            <div class="h-2/3 flex">
                <div class="w-2/3 h-full flex flex-col">
                    <span class="uppercase text-main-brown font-bold">Evenements</span>
                    <span class="text-2xl font-bold ml-10">1</span>
                </div>
                <div class="w-1/3 h-full">
                    <img src="{{ asset('img/content/event.svg') }}" alt="">
                </div>
            </div>
            <div class="h-1/3 flex items-center justify-start">
                <span class="text-main-brown text-xs uppercase font-bold">1 participation les 30 derniers jours</span>
            </div>
        </div>
        <!-- END RESUME CARD -->

    </div>
    <!-- END RESUME -->


    <!-- START EVENT -->
    <div class="flex justify-between items-center w-full mt-8 border-b border-main-grey py-2">
        <h2 class="text-xl font-bold">Evènements à venir</h2>
        <div class="hidden sm:flex gap-5">
            <div id="incomming_event_prev_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300"><</div>
            <div id="incomming_event_next_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300">></div>
        </div>
    </div>

    <div id="incomming_event_slider_container" class="relative w-full flex items-center snap-x snap-mandatory overflow-x-scroll scroll-smooth gap-8 px-6 sm:px-2 py-4">
        <!--START EVENT CARD-->
        <div class="group incomming_event_card w-60 sm:w-72 h-96 shadow-xl bg-gradient-to-br from-white via-white to-main-orange/20 rounded-md snap-center shrink-0 overflow-hidden border-b-4 border-main-emerald sm:hover:scale-105 transition-all duration-300">
            <div class="h-2/5 group-odd:bg-gradient-to-r group-even:bg-gradient-to-l from-main-orange/20 to-main-green/20 flex">
                <img src="{{ asset('img/content/bar.jpg') }}" alt="">
            </div>
            <div class="flex flex-col h-3/5 p-2">
                <div class="w-full h-1/5 flex justify-center items-center">
                    <span class="uppercase text-sm text-main-brown font-bold">Soirée jeu au baropoly</span>
                </div>
                
                <div class="w-full h-2/5 text-sm flex items-center text-justify">
                    Soirée jeu sur le thème de la coopération. Venez nombreux et déguisés. Une consommation achetée, une offerte...
                </div>              
                <div class="w-full h-1/5 flex items-center">
                    <div class="w-full h-full flex justify-start items-center pl-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/location.svg') }}" alt=""><span>Paris</span>
                    </div>
                    <div class="w-full h-full flex justify-end items-center gap-1 pr-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/calendar.svg') }}" alt=""><span>25/04/23</span>
                    </div>
                </div> 
                <div class="h-1/5 flex justify-center items-center">
                    <a href="" class="p-1.5 bg-main-orange hover:shadow-lg hover:scale-105 hover:bg-main-orange-dark rounded-md text-center transition-all duration-300">Plus d'info...</a>
                </div>     
            </div>
        </div>
        <!--END EVENT CARD -->
        <!--START EVENT CARD-->
        <div class="group incomming_event_card w-60 sm:w-72 h-96 shadow-xl bg-gradient-to-br from-white via-white to-main-orange/20 rounded-md snap-center shrink-0 overflow-hidden border-b-4 border-main-emerald sm:hover:scale-105 transition-all duration-300">
            <div class="h-2/5 group-odd:bg-gradient-to-r group-even:bg-gradient-to-l from-main-orange/20 to-main-green/20 flex">
                <img class="w-full h-auto " src="{{ asset('img/content/salonjeu.png') }}" alt="">
            </div>
            <div class="flex flex-col h-3/5 p-2">
                <div class="w-full h-1/5 flex justify-center items-center">
                    <span class="uppercase text-sm text-main-brown font-bold">Salon du jeu 2023 !</span>
                </div>
                
                <div class="w-full h-2/5 text-sm flex items-center text-justify">
                    Salon annuel du jeu de société ! C'est le rendez-vous à ne pas manquer. Pour les grands et les petits !
                </div>              
                <div class="w-full h-1/5 flex items-center">
                    <div class="w-full h-full flex justify-start items-center pl-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/location.svg') }}" alt=""><span>Bordeaux</span>
                    </div>
                    <div class="w-full h-full flex justify-end items-center gap-1 pr-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/calendar.svg') }}" alt=""><span>06/06/23</span>
                    </div>
                </div> 
                <div class="h-1/5 flex justify-center items-center">
                    <a href="" class="p-1.5 bg-main-orange hover:shadow-lg hover:scale-105 hover:bg-main-orange-dark rounded-md text-center transition-all duration-300">Plus d'info...</a>
                </div>     
            </div>
        </div>
        <!--END EVENT CARD -->
        <!--START EVENT CARD-->
        <div class="group incomming_event_card w-60 sm:w-72 h-96 shadow-xl bg-gradient-to-br from-white via-white to-main-orange/20 rounded-md snap-center shrink-0 overflow-hidden border-b-4 border-main-emerald sm:hover:scale-105 transition-all duration-300">
            <div class="h-2/5 group-odd:bg-gradient-to-r group-even:bg-gradient-to-l from-main-orange/20 to-main-green/20 flex">
                <img class="w-full h-auto " src="{{ asset('img/content/philibert.png') }}" alt="">
            </div>
            <div class="flex flex-col h-3/5 p-2">
                <div class="w-full h-1/5 flex justify-center items-center">
                    <span class="uppercase text-sm text-main-brown font-bold">Soldes chez philibert !</span>
                </div>
                
                <div class="w-full h-2/5 text-sm flex items-center text-justify">
                    Les soldes sont ouvertes jusqu'au 30 Avril chez Philibert. C'est le moment de vous faire plaisir OU de faire plaisir ! Jusqu'à -50 % !
                </div>              
                <div class="w-full h-1/5 flex items-center">
                    <div class="w-full h-full flex justify-start items-center pl-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/location.svg') }}" alt=""><span>Internet</span>
                    </div>
                    <div class="w-full h-full flex justify-end items-center gap-1 pr-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/calendar.svg') }}" alt=""><span>01/04/23</span>
                    </div>
                </div> 
                <div class="h-1/5 flex justify-center items-center">
                    <a href="" class="p-1.5 bg-main-orange hover:shadow-lg hover:scale-105 hover:bg-main-orange-dark rounded-md text-center transition-all duration-300">Plus d'info...</a>
                </div>     
            </div>
        </div>
        <!--END EVENT CARD -->
        <!--START EVENT CARD-->
        <div class="group incomming_event_card w-60 sm:w-72 h-96 shadow-xl bg-gradient-to-br from-white via-white to-main-orange/20 rounded-md snap-center shrink-0 overflow-hidden border-b-4 border-main-emerald sm:hover:scale-105 transition-all duration-300">
            <div class="h-2/5 group-odd:bg-gradient-to-r group-even:bg-gradient-to-l from-main-orange/20 to-main-green/20 flex">
                <img class="w-full h-auto " src="{{ asset('img/content/reportage.jpg') }}" alt="">
            </div>
            <div class="flex flex-col h-3/5 p-2">
                <div class="w-full h-1/5 flex justify-center items-center">
                    <span class="uppercase text-sm text-main-brown font-bold">Reportage France 3</span>
                </div>
                
                <div class="w-full h-2/5 text-sm flex items-center text-justify">
                    Vendredi, reportage à ne pas manquer sur le renouveau du jeu de société ! Réalisé en partenariat avec le ministère de la culture
                </div>              
                <div class="w-full h-1/5 flex items-center">
                    <div class="w-full h-full flex justify-start items-center pl-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/location.svg') }}" alt=""><span>France 3</span>
                    </div>
                    <div class="w-full h-full flex justify-end items-center gap-1 pr-4 text-sm">
                        <img class="h-1/2" src="{{ asset('img/content/calendar.svg') }}" alt=""><span>14/04/23</span>
                    </div>
                </div> 
                <div class="h-1/5 flex justify-center items-center">
                    <a href="" class="p-1.5 bg-main-orange hover:shadow-lg hover:scale-105 hover:bg-main-orange-dark rounded-md text-center transition-all duration-300">Plus d'info...</a>
                </div>     
            </div>
        </div>
        <!--END EVENT CARD -->
    </div>
    <!-- END EVENT -->
    
    <!-- START RECOMMENDED PLAYER-->
    <div class="flex justify-between items-center w-full mt-8 border-b border-main-grey py-2">
        <h2 class="text-xl font-bold">Joueurs inscrits récemment</h2>
        <div class="hidden sm:flex gap-5">
            <div id="recommended_player_prev_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300"><</div>
            <div id="recommended_player_next_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300">></div>
        </div>
    </div>
    
    <div id="recommended_player_slider_container" class="relative w-full flex items-center snap-x snap-mandatory overflow-x-scroll scroll-smooth gap-8 px-6 sm:px-2 py-4">
		{% if userResult != [] %}
			{% for user in userResult %}
				{% include('/cards/player_card.html.twig') %}
			{% endfor %}
		{% endif %}
    </div> 
    <!-- END RECOMMENDED PLAYER -->  

    <!-- START RECOMMENDED GAME-->
    <div class="flex justify-between items-center w-full mt-8 border-b border-main-grey py-2">
        <h2 class="text-xl font-bold">Parties ajoutées récemment</h2>
        <div class="hidden sm:flex gap-5">
            <div id="recommended_player_prev_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300"><</div>
            <div id="recommended_player_next_btn" class="flex justify-center items-center cursor-pointer w-8 h-8 rounded-full border-2 border-main-green text-main-green hover:bg-main-green/20 transition-all duration-300">></div>
        </div>
    </div>
    
    <div id="recommended_player_slider_container" class="relative w-full flex items-center snap-x snap-mandatory overflow-x-scroll scroll-smooth gap-8 px-6 sm:px-2 py-4">
       {% if partyResult != [] %}
			{% for party in partyResult %}
				{% include('/cards/party_card.html.twig') %}
			{% endfor %}
		{% endif %}
    </div>
    <!-- END RECOMMENDED GAME-->
</section>
{% endblock main_content %}




