{% extends 'base.html.twig' %}

{% block title %}
Meet A Meeple
{% endblock title %}

{% block nodashboard %}{% endblock nodashboard %}

{% block main_content %}
    <section class="flex flex-col justify-center items-center w-full relative overflow-hidden gap-4">
        <h1 class="font-bold text-3xl sm:text-4xl my-3 text-center px-2 sm:px-4">Trouvez des joueurs de jeux de sociétés proches de chez vous</h1>
        <a href="{{ path('search') }}" class="btn-orange top-32 z-10">Consulter les parties</a>
        <img class="-translate-y-20 sm:-translate-y-32 min-w-[1000px] sm:min-w-[1500px]" src="{{ asset('img/content/banner.svg') }}" alt="Bannière de Meet a meeple">
    </section>


    <section class="w-full flex flex-col justify-center items-center pb-20">
        <div class="w-full md:max-w-3xl max-w-5xl flex flex-col-reverse lg:flex-row justify-center items-center gap-6 md:gap-16 px-2 sm:px-4">
            <div class="w-3/4 md:w-1/2 lg:w-1/2 flex justify-center items-center">
                <img class="w-full" src="{{ asset('img/content/home_table.svg') }}" alt="">
            </div>
            <div class="w-full lg:w-1/2 flex flex-col justify-center items-center">
                <h2 class="font-bold text-3xl text-main-orange text-center my-3">Et si vous faisiez le premier pas ?</h2>
                <p class="text-xl text-justify">
                    Êtes-vous fatigué de jouer seul à vos jeux de société préférés ? Imaginez-vous pouvoir jouer à votre jeu de société préféré avec des personnes partageant les mêmes intérêts que vous, peu importe où vous vous trouvez dans le monde. 
                </p>
            </div>
        </div>
    </section>


    <section class="w-full flex flex-col justify-center items-center bg-gradient-to-b from-white via-black/10 to-black/10 pb-20">
        <div class="w-full md:max-w-3xl lg:max-w-5xl flex flex-col-reverse lg:flex-row-reverse justify-center items-center gap-6 md:gap-16 px-2 sm:px-4">
            <div class="w-3/4 md:w-1/2 lg:w-1/2 flex justify-center items-center">
                <img class="w-full lg:w-3/4" src="{{ asset('img/content/home_meeple.svg') }}" alt="">
            </div>
            <div class="w-full lg:w-1/2 flex flex-col justify-center items-center">
                <h2 class="font-bold text-3xl text-main-orange text-center my-3 ">Meet a meeple</h2>
                <p class="text-xl text-justify">
                    Meet a meeple est là pour vous aider que vous souhaitiez organiser une soirée de jeux chez vous ou trouver des joueurs dans votre quartier, notre plateforme facilite les rencontres et les échanges entre joueurs de tous horizons. Rejoignez notre communauté de joueurs de jeux de société passionnés et découvrez de nouveaux jeux et de nouvelles personnes.
                </p>
            </div>
        </div>
    </section>

    <section class="w-full flex flex-col justify-center items-center bg-gradient-to-t from-white via-black/10 to-black/10 pb-20">
        <div class="w-full md:max-w-3xl max-w-5xl flex flex-col-reverse lg:flex-row justify-center items-center gap-6 md:gap-16 px-2 sm:px-4">
            <div class="w-3/4 md:w-1/2 lg:w-1/2 flex justify-center items-center">
                <img class="w-full" src="{{ asset('img/content/home_map_meeple.svg') }}" alt="">
            </div>
            <div class="w-full lg:w-1/2 flex flex-col justify-center items-center">
                <h2 class="font-bold text-3xl text-main-orange text-center my-3">Rencontrer des joueurs près de chez vous</h2>
                <p class="text-xl text-justify">
                    Grâce à notre système de recherche et de géolocalisation, vous pouvez trouver des joueurs à proximité et organiser des rencontres pour jouer ensemble.  
                </p>
            </div>
        </div>
    </section>
 

    <section>
        <h2 class="font-bold text-3xl my-10 text-main-orange text-center w-full">Les témoignages de nos utilisateurs</h2>
        <div class="slider w-full my-10 overflow-hidden relative">
            <div class="slide-track">
                <!-- première répétition -->
                {% for testimony in testimonies %}
                    <div class="slide relative bg-main-grey-light/25 rounded-lg flex flex-col justify-around items-center w-[352px] h-56 p-5 m-6 hover:scale-105 transition-all duration-300 shadow-lg">
                        <div class="absolute top-3 left-5 w-full flex justify-start items-center">
                            <div class="h-12 w-12 border-2 rounded-full overflow-hidden left-[5rem] sm:left-[6.5rem] top-[7rem] bg-main-brown bg-cover bg-center" style="background-image: url({{ testimony['profil_picture'] }});"></div>
                            <p class="text-2xl ml-5 text-main-orange" >{{ testimony['name'] }}</p>
                        </div>
                        <p class="text-sm">{{ testimony['message'] }}</p>
                        <div class="absolute bottom-3 w-1/2 flex justify-center items-center">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                        </div>
                    </div>
                {% endfor %}
                <!-- seconde répétition -->
                {% for testimony in testimonies %}
                    <div class="slide relative bg-main-grey-light/25 rounded-lg flex flex-col justify-around items-center w-[352px] h-56 p-5 m-6 hover:scale-105 transition-all duration-300 shadow-lg">
                        <div class="absolute top-3 left-5 w-full flex justify-start items-center">
                            <div class="h-12 w-12 border-2 rounded-full overflow-hidden left-[5rem] sm:left-[6.5rem] top-[7rem] bg-main-brown bg-cover bg-center" style="background-image: url({{ testimony['profil_picture'] }});"></div>
                            <p class="text-2xl ml-5 text-main-orange" >{{ testimony['name'] }}</p>
                        </div>
                        <p class="text-sm">{{ testimony['message'] }}</p>
                        <div class="absolute bottom-3 w-1/2 flex justify-center items-center">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                            <img src="{{ asset('img/content/meeple_rate_full.svg') }}" alt="" class="w-1/5 h-1/5">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock main_content %}
