{% extends 'base.html.twig' %}

{% block title %}
Chercher une partie ou un joueur
{% endblock title %}

{% block bonus_javascript %}
	<script defer src="{{ asset('js/search.js') }}"></script> 
	<script defer src="{{ asset('js/geolocation_search.js') }}"></script> 
{% endblock bonus_javascript %}

{% block withdashboard %}
{% endblock withdashboard %}

{% block main_content %}
	<section class="text-sm md:text-base w-full flex flex-col gap-8 items-center justify-center px-2 sm:px-4">
		<div class="w-full h-fit">
			<h1 class="text-2xl font-bold text-center">
				Recherchez rapidement des joueurs ou des parties autour de vous !
			</h1>
			{{ form_start(searchForm) }}	
				{{ form_row(searchForm.search_type) }}
				<div>
					<div id="location-choice" class="w-full max-w-[400px] h-fit flex gap-1 overflow-hidden">
						<label class="text-sm" for="locate-my-position">Choisir ma position</label>
						<input class="accent-main-emerald" type="checkbox" name="locate-my-position" id="locate-my-position" value="my-position">
					</div>
					{{ form_row(searchForm.city_name, {
						'id': 'city_search_input'
						})
					}}
					<div id="city_list" class="hidden absolute flex-col w-full h-fit"></div>
				</div>
				{{ form_row(searchForm.city_GPS_lat, {
					'attr': {'class': 'hidden'},
					'id': 'form_city_GPS_lat'
					})
				}}
				{{ form_row(searchForm.city_GPS_long, {
					'attr': {'class': 'hidden'},
					'id': 'form_city_GPS_long'
					})
				}}
				{{ form_row(searchForm.distance) }}
				{{ form_row(searchForm.send) }}
			{{ form_end(searchForm) }}	

			<h2>Résultats</h2>

			{{ error }}
		</div>

		<div class="w-full flex flex-col sm:flex-row flex-wrap sm:justify-center items-center gap-4 lg:gap-6">
		{% if userResult != [] %}
			{% for user in userResult %}
				{% include('/cards/player_card.html.twig') %}
			{% endfor %}
		{% endif %}
		{% if partyResult != [] %}
			{{ dump(partyResult) }}
			{% for party in partyResult %}
				{% include('/cards/party_card.html.twig') %}
			{% endfor %}
		{% endif %}
		</div>
	</section>
{% endblock main_content %}
